<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=restaurantName %></title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p><%= restaurantName %></p>
    <p><%= restaurantAddress %></p>
    <p><%= restaurantPhoneNumber %></p>
    <p><%= isOpen ? "Yes, we are open!": "Sorry, we are closed" %></p>
  </body>
</html>
