<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>
    <% menu.forEach(item => { %>
    <ul>
      <li>
        <%= item.rating === 5 ? item.name + "â­" : item.name %> <%= item.price
        %> <%= item.rating %> <%= item.details %>
      </li>
    </ul>
    <% }); %>

    <h2>Mains</h2>
    <ul>
      <% menu.forEach(dish => { if (dish.category === 'mains') { %>
      <li><%=dish.name %></li>
      <% } }); %>
    </ul>
    <h2>Desserts</h2>
    <ul>
      <% menu.forEach(dish => { if (dish.category === "desserts") { %>
      <li><%=dish.name %></li>
      <% } }); %>
    </ul>
    <h2>Sides</h2>
    <ul>
      <% menu.forEach(dish => { if (dish.category === "sides") { %>
      <li><%=dish.name %></li>
      <% } }); %>
    </ul>
  </body>
</html>
